#eter-contact .contact-circle .circle {
    background-color: #cd8dff;
    color: #0e0060;
}
#eter-contact .contact-options a:hover {
	background-color: #cd8dff;
	color: #0e0060;
}
#eter-contact .contact-options a:hover svg {
	color: #0e0060;
}
#contact-server-modal .form-contact {
	background-color: #cd8dff;
}
.information i {
	color: #cd8dff;
}
